/*Galeria*/

.introGaleria {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-botones;
  margin-bottom: 30px;

  h2 {
    color: $color-fuentes;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.imagenGaleria {
  border-radius: 10px;
  padding: 4px;
  max-width: 100%;
  height: auto;
  filter: grayscale(50%);
  transition: all 1s;

  &:hover {
    filter: grayscale(0);
  }
}
